body {
   background-image: url('..\\images\\background1.jpg');
   height:100vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   margin-left: auto;
   margin-right: auto;
   overflow-y: hidden;
   overflow-x: hidden;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.head {
    font-size: 70px;
    color: #333;
    text-align: center;
    margin-top: 150px;
    color:#ffa64d;
  }



  /*new*/
  .sidenav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color:#002647;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
   text-align:center;
}

.sidenav a {
   text-decoration: none;

}

.sidenav a:hover{
   color: #cc6600;
}

.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
   color:#ffa64d;
   font-size:80px;
   margin-top: -30px;
}

@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}

/*end*/
  @media (min-width: 815px )  {
     #background{
       height:350px;
     }
     #navlogo{
       font-size: 70px;
       color: #333;
       text-align: center;
       margin-top: 140px;
       color:#ffa64d;
     }
     #logobackground{
       height:300px;
     }
     #menu{
       padding: 130px 0px;

     }
     #navbtn{
       font-size:50px;
       cursor:pointer;
       margin-top:-480px;
       margin-left:30px;
       color:#ffa64d;
     }
  }


    @media (max-width: 815px){
      #background{
        height:300px;
        width: 320px;
      }
      #navlogo{
        font-size: 70px;
        color: #333;
        text-align: center;
        margin-top: 50px;
        color:#ffa64d;
      }
      #logobackground{
        height:150px;
        width:150px;
      }
      #menu{
        padding:40px 0px;
      }
      #navbtn{
        font-size:50px;
        cursor:pointer;
        margin-top:-420px;
        margin-left:30px;
        color:#ffa64d;
      }
   }




#menu {
    text-align: center;
    margin: 0 auto;
}


#menu ul {
    padding: 0;
    list-style: none;
}

#menu ul li a {
    color: #ffa64d;
    font-size: 35px;
    display: block;
    padding: 12px 0;
    text-decoration: none;
    transition: color .2s;
    transform: scale(1.1);
}

#menu ul li a:hover {
    color:#cc6600;
}
